@model Comment

@{

  if (Model.CommentByCurrentUser)
  {
    <li class="user-comment">
      <div class="user-bubble">
          <span>@Model.comment</span>
      </div>
    </li>
  }
  else
  {
    <li class="counterparty-comment">
      <div class="counterparty-bubble">       
        <span>@Model.comment</span>
      </div>
    </li>
  }
}
