<div class="new-book span5">
  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Book Title</label>
    <div class="controls">
      <input id="bookTitle" name="bookTitle" type="text" placeholder="Financial Accounting with Connect &amp; Lyryx 4th Cdn" class="input-xlarge">

    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Course</label>
    <div class="controls">
      <input id="course" name="course" type="text" placeholder="AFM 101" class="input-xlarge">
    
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">ISBN</label>
    <div class="controls">
      <input id="isbn" name="isbn" type="text" placeholder="9780070898714" class="input-xlarge">
    
    </div>
  </div>

  <div class="horizontal-line"></div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Author (optional)</label>
    <div class="controls">
      <input id="author" name="author" type="text" placeholder="Robert Libby, Patricia Libby, Daniel Short, George Kanaan, Maureen Gowing" class="input-xlarge">
    
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Book Image URL (optional)</label>
    <div class="controls">
      <input id="bookImageUrl" name="bookImageUrl" type="text" placeholder="http://ecx.images-amazon.com/images/I/41zG8Om9YaL._SL500_AA300_.jpg" class="input-xlarge">
    
    </div>
  </div>

</div>