@model IEnumerable<BookSpade.Revamped.Models.Textbook>

@{
    foreach (var b in Model)
    { 
        <li>
          <div class="item">
            <span id="Course" class="Block">@b.Author</span>
            <span id="Title" class="Block Truncate One-line">@b.BookTitle</span>
          </div>
        </li>
    }
}