div.body {
    padding-bottom: 36px; /* 36px for the footer; padding customized for this page only */
}

#new-post-wrapper:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    margin-right: -0.25em;
}

#new-post-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#new-post {
    display: inline-block;
    margin-top: 45px;
    margin-left: 85px;
}

.common-fields {
    margin-top: 30px;
    width: 470px;
}

.common-fields .control-label,
.new-book .control-label {
    width: 110px;
    display: inline-block;
    float: none;
    vertical-align: top;
    cursor: default;
}

.common-fields .controls,
.new-book .controls {
    display: inline-block;
    width: 300px;
    margin-left: 15px;
    text-align: left;
}

    .common-fields .control-group,
    .new-book .control-group {
        margin-bottom: 12.5px;
    }

        .common-fields .control-group:nth-last-of-type(3) {
            margin-bottom: -5px;
        }

        .common-fields .control-group:nth-last-of-type(3) .controls {
            margin-top: 1px;
        }

    .common-fields .controls input,
    .new-book .controls input {
        width: 234px;
        margin-top: 0;
    }

    .common-fields .controls .checkbox input {
        margin-top: 3px;
    }

.new-book {
    display: none;
    padding-top: 30px;
}

.submit-form {
    display: inline-block;
    text-align: left;
    width: 470px;
    margin-bottom: 222px;
    padding-left: 10px;
    padding-top: 5px;
}

#ActionBy {
    width: 248px;
}

#BookCondition {
    width: 248px;
}

#Price {
    width: 207px;
}

#IsNegotiable {
    width: inherit;
}

#new-post legend {
    margin-bottom: 20px;
    font-weight: bold;
}

.PostHeader {
    font-size: 24px;
    font-weight: bold; 
    font-family: Calibri;
    margin-bottom: 10px;
    margin-left: 2px;
    text-align: left;
    vertical-align: bottom;
}

    .PostHeader img {
        margin-right: 5px;
    }

#BookSearch {
    width: 400px;
}

.ChooseBook {
    margin-top: 10px;
}

.book-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

/*
    Book Search List Styles
*/

#BookListWrapper {
        display: inline-block;
        height: 390px;
        width: 410px;
    }
    
    .SearchResults {
        position: relative;
        border: 1px solid #e5e5e5;
        width: 100%;
        height: 82%;
        margin-bottom: 0;
        margin-left: 0;
	    overflow-y: scroll;

        -webkit-perspective: 400px;
	       -moz-perspective: 400px;
	        -ms-perspective: 400px;
	         -o-perspective: 400px;
	            perspective: 400px;
    }
    
        .SearchResults li {
            cursor: pointer;
            position: relative;
            background: #d5e5eb;
            text-align: left;
            padding: 11px 0 11px 12px;
            color: #252525;
            font-size: 16px;
            border: 1px solid #fff;
            z-index: 0;
                
            -webkit-transform: translateZ(0px);
		       -moz-transform: translateZ(0px);
		        -ms-transform: translateZ(0px);
		         -o-transform: translateZ(0px);
		            transform: translateZ(0px);
        }

        .selected {
            background: rgba(241, 97, 30, 0.45) !important;
        }

#newBookButton {
    width: 180px;
    margin-top: -80px;
}

#matchButton {
    width: 252px;
    padding: 10px 0;
}

/*@media only screen and (max-width: 993px) {
    .submit-form {
        margin-bottom: 15px !important;
    }

    .common-fields.span5 {
        margin-top: 0  !important;
    }

    .new-book.span5 {
        padding-top: 0 !important;
        margin-top: -35px;
    }

    #newBookButton {
        margin-top: -85px !important;
    }
}*/