
.new-post {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
}

.page-header {
    border-bottom: none;
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 35px;
    padding: 0;
}

.common-fields.span5 {
    margin-left: 0;
    margin-top: 30px;
}

.common-fields .control-label,
.new-book .control-label {
    width: 110px;
    display: inline-block;
    float: none;
    vertical-align: top;
    cursor: default;
}

.common-fields .controls,
.new-book .controls {
    display: inline-block;
    width: 300px;
    margin-left: 15px;
    text-align: left;
}

    .common-fields .control-group,
    .new-book .control-group {
        margin-bottom: 12.5px;
    }

        .common-fields .control-group:nth-last-of-type(3) {
            margin-bottom: -5px;
        }

    .common-fields .controls input,
    .new-book .controls input {
        width: 234px;
        margin-top: 0;
    }

    .common-fields .controls .checkbox input {
        margin-top: 3px;
    }

.new-book.span5 {
    display: none;
    padding-top: 30px;
}

.row-fluid .span5 {
    width: 500px;
}

.submit-form {
    display: inline-block;
    text-align: left;
    width: 450px;
    margin-bottom: 222px;
}

#ActionBy {
    width: 248px;
}

#BookCondition {
    width: 248px;
}

#IsNegotiable {
    width: inherit;
}

.new-post legend {
    margin-bottom: 20px;
    font-weight: bold;
}

.PostHeader {
    font-size: 24px;
    font-weight: bold; 
    font-family: Calibri;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 45px;
    vertical-align: bottom;
}

    .PostHeader img {
        margin-right: 5px;
    }

#BookSearch {
    width: 400px;
}

.ChooseBook {
    margin-top: 10px;
}

.book-list.span5 {
    float: none;
    display: inline-block;
    vertical-align: top;
}

/*
    Book Search List Styles
*/

#BookListWrapper {
        display: inline-block;
        height: 390px;
        width: 410px;
    }
    
    .SearchResults {
        position: relative;
        width: 100%;
        height: 82%;
        margin-bottom: 0;
        margin-left: 0;
	    overflow-y: scroll;

        -webkit-perspective: 400px;
	       -moz-perspective: 400px;
	        -ms-perspective: 400px;
	         -o-perspective: 400px;
	            perspective: 400px;
    }
    
        .SearchResults li {
            cursor: pointer;
            position: relative;
            text-align: left;
            padding: 11px 0 11px 12px;
            color: #252525;
            font-size: 16px;
            border: 1px solid transparent;
            z-index: 0;
                
            -webkit-transform: translateZ(0px);
		       -moz-transform: translateZ(0px);
		        -ms-transform: translateZ(0px);
		         -o-transform: translateZ(0px);
		            transform: translateZ(0px);
        }
        
        .SearchResults li:nth-child(odd) {
            background: url('../Images/bg_pattern_blue.jpg') repeat;
        }

        .selected {
            border: 1px solid black !important;
        }

#newBookButton {
    width: 180px;
    margin-top: -80px;
}

#matchButton {
    width: 252px;
}

@media only screen and (max-width: 993px) {
    .submit-form {
        margin-bottom: 15px !important;
    }

    .common-fields.span5 {
        margin-top: 0  !important;
    }

    .new-book.span5 {
        padding-top: 0 !important;
        margin-top: -35px;
    }

    #newBookButton {
        margin-top: -85px !important;
    }
}