header {
    display: none;
}

.header-wrapper {
    background-color: transparent;
    border:none;
}

#login {
    color: #4B4B4B;
}

    #login a {
        color:#43A0BF;
    }

body {
    background-color:#e2e2e2;
}

#foregroundCell:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    margin-right: -0.25em;
}

#foregroundCell {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

#foregroundWrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-bottom: 45px;
}

#foreLeft {
    width: 530px;
    display: inline-block;
    padding: 30px;
    padding-bottom: 20px;
    margin: 0 20px;
    vertical-align: top;
    text-align: left;
    background: url('../images/marketpriceBG.png') repeat;
    border: 0px solid;
    opacity: 0.9;
    
    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -khtml-border-radius-bottomright: 20px;
    -webkit-border-radius-bottomright: 20px;
    -o-border-radius-bottomright: 20px;
}

#foreRight {
    display: inline-block;
    text-align: right;
    margin: 20px 30px 0 30px;
    width: 234px;
}

    #foreRight img {
        margin-top: auto;
        width: 234px;
    }

#rightDiv h1{
    font: 2.5em Arial;
    font-weight: bold;
}

a {
    padding: 0;
}

.buttonBuySell{
	width: 30%;
    padding: 5px 0 5px 0;
    display: inline-block;
	margin: 0 25px 0 0;
	font-size: 20px;
    line-height: 34px;
}

#needToBuySell {
    font: 15px arial bold;
    color: #666;
	line-height: 60px;
    text-align: left;
    margin-top: 15px;
	width: 80%;
    z-index: 99995;
}

#description {
    font: 24px calibri;
    color: #ccc;
}

.slogan-top {
    color: #ED7A44;
}



	

	
	
	

