#loginContainer:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    margin-right: -0.25em;
}

#loginContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#loginWrapper {
    width: 330px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 80px;
    padding: 10px 0 15px 0;
    border: 1px solid #dedcdc;
}

#loginContent {
    width: 264px;
    display: inline-block;
    text-align: left;
}

#loginSection {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

    #loginSection .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginSection .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginSection .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginSection input {
        width: 250px;
    }

    #loginSection input[type="checkbox"],
    #loginSection input[type="submit"],
    #loginSection input[type="button"],
    #loginSection button {
        width: auto;
    }

        #loginSection #RememberMe {
            vertical-align: top;
        }

        #loginSection label.checkbox {
            display: inline-block;
            padding-left: 5px;
        }

    #loginSection .remember {
        margin: 2px 0;
    }
    
    #loginSection .register {
        margin: 10px 0 10px;
    }

#socialLoginForm {
    display: inline-block;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList {
    margin: 0;
}

    #socialLoginList button {
        margin-bottom: 12px;
    }

#logoutForm {
    display: inline;
}

.validation-summary-errors {
    width: 250px;
}

h1 {
    margin-top: 10px;
}