textarea {
    width:400px;
}

.countdown {
    font-weight:bold; 
    font-size:10px;
}

.height-auto {
    height:auto;
}

.comment-spade {
    width:35px;
    height:auto;
}

.commentcontainer {
    width:490px;
    height:475px;
    bottom:0;
    font-size:14px;
    float:right;
}

.text-center {
    text-align:center;
}

.container {
    text-align:left;
    width:1030px;
}

.d-iblock {
    display:inline-block;
}

.lbl {
    font-weight:bold;
    width:100px;
}

.val {
    width:385px;
}

.price-val {
    width:300px;
}

.details {
     width:500px;
     text-align:left;
     vertical-align:top;
}

.transaction-info {
    width:490px;
    padding:10px;
    vertical-align:top;
}

.fprice-cancel {
    width:490px;
    padding:10px;
    vertical-align:top;
}


/*.SearchResults {
        position: relative;
        width: 100%;
        height: 62%;
        margin-bottom: 0;
        margin-left: 0;
	    overflow-y: scroll;

        -webkit-perspective: 400px;
	       -moz-perspective: 400px;
	        -ms-perspective: 400px;
	         -o-perspective: 400px;
	            perspective: 400px;
    }
    
        .SearchResults li {
            position: relative;
            text-align: left;
            padding: 11px 0 11px 12px;
            color: #252525;
            font-size: 16px;  
            z-index: 0;
                
            -webkit-transform: translateZ(0px);
		       -moz-transform: translateZ(0px);
		        -ms-transform: translateZ(0px);
		         -o-transform: translateZ(0px);
		            transform: translateZ(0px);
        }
*/


/* Comments --------------------------------*/

.comments {
    padding:0px;
}

.commentor {
    font-weight:bold;
}

.buyer-comment,
.seller-comment {
    list-style-type: none;
    border: 1px solid #fff;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.buyer-comment {
    text-align:right;
}

.seller-comment {
    text-align:left; 
}

.seller-bubble {
    background-color:rgba(241, 97, 30, 0.51); 
    width:auto;
}

.buyer-bubble {
    background-color:#d5e5eb;

    border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    -khtml-border-radius-bottomleft: 25px;
    -webkit-border-radius-bottomleft: 25px;
    -o-border-radius-bottomleft: 25px;
}

.cancel-transaction, .comment-submit {
    padding-right:10px;
    padding-left:10px;
}

/* Comments End --------------------------------*/

@media only screen and (max-width: 996px) {
    .commentcontainer {
        width:400px;
    }

    .val .price-val {
        display:compact;   
    }

    .transaction-info .fprice-cancel {
        display:compact;
        margin: 0 !important;
        vertical-align:top !important;       
    }

    .transaction-info {
        width:auto;
    }

    .fprice-cancel {
        width: auto;
    }

    .details {
     width:auto;
     text-align:left;
     vertical-align:top !important;
     background-color:rgba(255, 255, 255, 0.3);
    }
}

