#no-trans-container {
    text-align:left;
}

.no-trans-btn-desc {
    font-weight:bold;
}

.no-trans-btn-buysell {
    width:200px; 
    float:left;
    margin-left:3px;
}

#needToBuySell {
    font: 15px arial bold;
    color: #666;
	line-height: 40px;
    text-align: left;
    margin-top: 15px;
    z-index: 99995;
}

    #needToBuySell a {
        text-decoration: none;
    }

.item-container {
    text-align: left;
}

.item-title {
    width: 250px;
    float: left;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: left;
    font-style: italic;
}

    #list-header .item-title {
        font-style: normal;
    }

.item-info {
    width: 100px;
    float: left;
    font-size: 13px;
    text-align: center;
    margin-left: 11px;
}

#list-header {
    font-weight: bold;
    font-size: 15px;
    padding-left: 7px;
}

#history-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
    vertical-align: bottom;
    font-family: Calibri;
}

.create-post {
    text-align:right;
    float:right;
}

.user-history {
    list-style:none;
}

#historyWrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#historyContainer {
    width: 770px;
    display: inline-block;
    height: 470px;
    margin-top: 35px;
}

    .SearchResults {
        position: relative;
        width: 100%;
        height: 82%;
        margin-bottom: 0;
        margin-left: 0;
	    overflow-y: scroll;
        border: 1px solid #e5e5e5;
        
        border-top: 2px solid #000;

        -webkit-perspective: 400px;
	       -moz-perspective: 400px;
	        -ms-perspective: 400px;
	         -o-perspective: 400px;
	            perspective: 400px;
    }
    
        .SearchResults li {
            width: 746px;
            height: 25px;
            position: relative;
            text-align: left;
            vertical-align: middle;
            padding: 3px 0px 3px 5px;
            background: #d5e5eb;
            border:1px solid #FFF; 
            color: #252525;
            font-size: 16px;

            z-index: 0;
                
            -webkit-transform: translateZ(0px);
		       -moz-transform: translateZ(0px);
		        -ms-transform: translateZ(0px);
		         -o-transform: translateZ(0px);
		            transform: translateZ(0px);
        }

            .SearchResults li:hover {
                /*background-color: #d1eafa;*/ 
                background-color:#FCF7BF;
                cursor:pointer;
            }

.t-pending,
.t-complete,
.t-cancelled {
    height: 21px;
    margin-top: 1px;

    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -khtml-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
    -o-border-radius-topleft: 5px;

    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -khtml-border-radius-topright: 5px;
    -webkit-border-radius-topright: 5px;
    -o-border-radius-topright: 5px;

    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomleft: 5px;

    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomright: 5px;
    -o-border-radius-bottomright: 5px;
}

.t-pending {
    background: #ccc; 
}

.t-complete {
    background: #6BC257;
}

.t-cancelled {
    background: #D5402B;
}