#transactionDetailsContainer:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    margin-right: -0.25em;
}

#transactionDetailsContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#transactionDetailsContent {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.user-info {
    display: inline-block;
    margin: 0 70px;
}

.user-info img {
    width: 220px;
    height: 220px;

    border-top-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -khtml-border-radius-topleft: 50px;
    -webkit-border-radius-topleft: 50px;
    -o-border-radius-topleft: 50px;

    border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -khtml-border-radius-topright: 50px;
    -webkit-border-radius-topright: 50px;
    -o-border-radius-topright: 50px;

    border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -khtml-border-radius-bottomleft: 50px;
    -webkit-border-radius-bottomleft: 50px;
    -o-border-radius-bottomleft: 50px;

    border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    -khtml-border-radius-bottomright: 50px;
    -webkit-border-radius-bottomright: 50px;
    -o-border-radius-bottomright: 50px;
}

.user-info-name {
    margin-top: 5px;
    font-size: 16px;
}

#transactionInfo {
    display: inline-block;
    vertical-align: top;
    width: 335px;
}

    #transactionInfo .details-block {
        border-bottom: 1px solid #dddddd;
        margin: 15px 0;
        padding-bottom: 2px;
    }

        #transactionInfo .details-block:first-child {
            margin-top: 3px;
        }

    #transactionInfo .details-label {
        display: inline-block;
        width: 115px;
        text-align: left;
        font-size: 16px;
    }

    #transactionInfo .details-value {
        display: inline-block;
        width: 210px;
        font-size: 14px;
        text-align: right;
    }

.transactionAction {
    display: inline-block;
}

#confirmTransaction {
    margin-left: 7px;
}

#confirmationWarning {
    font-size: 12px;
    margin-top: 7px;
}

.modal {
    width: auto;
}

#cancellationModal {
    width: 366px;
}

.modal-body {
    text-align: left;
    padding: 20px;
}

#confirmationModal .modal-body {
    padding-bottom: 10px;
}

.control-group {
    margin-top: 10px;
    margin-bottom: 0;
}

    .control-group label {
        display: inline-block;
        margin-right: 8px;
    }

    .control-group .add-on {
        vertical-align: bottom;
    }

#confirmationModal {
    top: 35%;
    left: 57%;
}

#cancellationModal {
    top: 38%;
    left: 57%;
}

#showComments {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

    #showComments:hover #commentAngle {
        color: #609EC6;
    }

#commentAngleLabel {
    font-size: 14px;
    margin-top: 30px;
}

#commentAngle {
    margin-top: -7px;
    font-size: 40px;
    color: #bbbaba;
}

#commentArea {
    display: none;
    margin-top: 15px;
}

#commentList {
    height: 300px;
    background-color: #EDEFF4;
    overflow-y: scroll;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 7px 3px;
    margin: 0;
}

form {
    margin-bottom: 0;
}

#commentContainer {
    width: 450px;
    height: 410px;
    font-size: 14px;
    margin-left: 10px;
}

.d-iblock {
    display: inline-block;
}

.user-comment,
.counterparty-comment {
    list-style-type: none;
    padding: 5px;
}

.user-comment {
    text-align: left;
    padding-left:10px;
}

.counterparty-comment {
    text-align: right;
    padding-right:10px;
}

.user-bubble,
.counterparty-bubble {
    display: inline-block;
    max-width: 376px;
    word-wrap: break-word;
    padding: 8px 15px;
    line-height: 22px;

    border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -khtml-border-radius-topleft: 25px;
    -webkit-border-radius-topleft: 25px;
    -o-border-radius-topleft: 25px;

    border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -khtml-border-radius-topright: 25px;
    -webkit-border-radius-topright: 25px;
    -o-border-radius-topright: 25px;

    border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    -khtml-border-radius-bottomleft: 25px;
    -webkit-border-radius-bottomleft: 25px;
    -o-border-radius-bottomleft: 25px;

    border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -khtml-border-radius-bottomright: 25px;
    -webkit-border-radius-bottomright: 25px;
    -o-border-radius-bottomright: 25px;
}

.counterparty-bubble {
    background-color: #FCFCFC;
}

.user-bubble {
    background-color:#d5e5eb;
}

#sendComment {
    width: 438px;
    font-size: 14px;
    margin: 0;

    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -khtml-border-radius-topleft: 0;
    -webkit-border-radius-topleft: 0;
    -o-border-radius-topleft: 0;

    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -khtml-border-radius-topright: 0;
    -webkit-border-radius-topright: 0;
    -o-border-radius-topright: 0;
}

#commentAction {
    margin-top: 15px;
}
