@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail</title>
</head>
<body>
    <div>
      @RenderBody()    
    </div>
    <div>
      Thank You, <br />
      The BookSpade Team
    </div>
</body>
</html>
