@model IEnumerable<TransactionDetailModel>

<style type="text/css">
  .user-history {
    list-style:none;
  }



</style>

<div class="containter text-center" >
  <ul class="user-history">
  @{
      foreach(TransactionDetailModel TransactionDetail in Model){
          Html.RenderPartial("_TransactionHistoryDetail", TransactionDetail);
      }
  }
  </ul>
</div>