@model IEnumerable<TransactionDetailModel>

@Styles.Render("~/Content/Pages/TransactionHistory.css")

<div class="history-containter container text-center" >
  <h1>Transaction History</h1>
  <ul class="user-history SearchResults wave">
  @{
      foreach(TransactionDetailModel TransactionDetail in Model){
          Html.RenderPartial("_TransactionHistoryDetail", TransactionDetail);
      }
  }
  </ul>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/stroll.min.js")
}