@Styles.Render("~/Content/Pages/Home.css")

<div id="foregroundCell">
    <div id="foregroundWrapper">
        <div id="foreLeft">
            <img src="@(Url.Content("~/Images/bookspadeText_Blue.png"))" style="width: 100%"/>

            <br />
            <div id="description">
                <span class="slogan-top">Save time</span><br />with every book.
            </div>

            <div id="needToBuySell">
                <a href="@(Url.Action("Create", "Post", new { postType = "Buy" }))" title="Buy Textbooks">
                    <div class="buttonBuySell blue-button">Buy</div>
                </a>

                <a href="@(Url.Action("Create", "Post", new { postType = "Sell" }))" title="Sell Textbooks">
                    <div class="buttonBuySell blue-button">Sell</div>
                </a>
            </div>
        </div>
        <div id="foreRight">
            <img src="@(Url.Content("~/Images/homeImage_bookStand.png"))" />
        </div>
    </div>
</div>

